<!DOCTYPE html>
<html  lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Quản lý chương trình học</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    
    <!-- third party css -->
    <link th:href="@{/assets/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css" id="app-style" />

    <!------------------------------ news ---------------------------------->
    <link rel="shortcut icon" th:href="@{/assets/images/index/iconlogo.png}">
    <link th:href="@{/styleindex.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>

<body class="loading" data-layout-color="light" data-leftbar-theme="dark" data-layout-mode="fluid"
    data-rightbar-onstart="true">
    <!-- Begin page -->

    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        	<div th:include="menu/menuleft :: menu-left" id="menuleft" class="leftside-menu"></div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <div th:include="fragments/fragmentheader :: header" class="navbar-custom"></div>
                <!-- end Topbar -->

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <form class="d-flex">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-light"
                                                id="dash-daterange">
                                            <span class="input-group-text bg-success border-success text-white">
                                                <i class="mdi mdi-calendar-range font-13"></i>
                                            </span>
                                        </div>
                                        <a href="javascript: void(0);" class="btn btn-success ms-2">
                                            <i class="mdi mdi-autorenew"></i>
                                        </a>
                                        <a href="javascript: void(0);" class="btn btn-success ms-1">
                                            <i class="mdi mdi-filter-variant"></i>
                                        </a>
                                    </form>
                                </div>
                                <h4 class="page-title">Danh sách Chương trình học</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
            <!-- ------------------------------start content------------------------------ -->
                    <div class="content">
                        <div class="container1">
                            <div class="row">
                                <button style="width:fit-content;margin-left: 10px;" class="btn btn-success"><a class="text-white" th:href="@{/admin/curriculum/add}">Thêm chương trình học</a></button>
                            <button style="margin-left: 58px!important;width: 230px;" class="btn btn-success mx-5">
						<a class="text-white" th:href="@{/admin/index/exceldaotao}">Xuất file danh sách DaoTao</a>
					</button>
                            </div>
                            <!-- Alert -->
                            <div th:if="${message != null && message.status == 'success'}" class="m-auto w-50 px-4 py-2 rounded-3 text-white" style="background-color: #0BCE97">
                            	<span th:text="${message.message}"></span>
                            </div>
                            <div th:if="${message != null && message.status == 'fail'}" class="m-auto w-50 px-4 py-2 rounded-3 text-white" style="background-color: #FF0000">
                            	<span th:text="${message.message}"></span>
                            </div>
                            <!-- End alert -->
                            <div class="row d-flex justify-content-evenly mt-3">
                                <div class="col-3">
                                    <label for="">Khóa</label>
                                    <select onchange="filter()" class="w-100 form-select" name="" id="khoaValue">
                                    	<option th:value="0" th:text="'Tất cả'"> </option>
                                        <option th:each="khoa : ${khoas}"  th:value="${khoa.id}" th:text="${khoa.khoa}"></option>
                                    </select>
                                </div>
                                <div class="col-3">
                                    <label for="">Ngành</label>
                                    <select onchange="filter()" class="w-100 form-select" name="" id="majorValue">
                                    	<option th:value="0" th:text="'Tất cả'"> </option>
                                        <option th:each="major : ${majors}"  th:value="${major.id}" th:text="${major.MajorsName} + ' - ' + ${major.MajorsID}"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-sm-12 text-center">
                                    <!-- ------------------------------table-------------------------- -->
                                    <div id="container-table" class="table-responsive">
	                                    <table id="table" class="table table-responsive table-bordered table-striped">
	                                        <tr id="tbl-first-row">
	                                            <td>#</td>
	                                            <td>Khóa</td>
	                                            <td>Ngành</td>
	                                            <td>Mã ngành</td>
	                                          	<td>Chương trình học</td>
	                                            <td>Trạng thái</td>
	                                            <td>Hiển thị</td>
	                                            <td>Chỉnh sửa</td>
	                                        </tr>
	                                        <div  th:if="${currys} == null">
	                                        	<p class="h3">Không có dữ liệu!</p>
	                                        </div>
	                                        <tbody th:unless="${currys} == null" id="tbody">
		                                        <tr th:each="curry, index : ${currys}">
										            <td th:text="${index.index + 1}"></td>
										            <td th:text="${curry.khoa.khoa}"></td>
										            <td th:text="${curry.majors.majorsName}"></td>
										            <td th:text="${curry.majors.majorsID}"></td>
										            <td th:text="${curry.name}"></td>
										            <td th:text="${curry.status} ? 'Hiện' : 'Ẩn'"></td>						
										            <td th:switch="${curry.hienthi}">
										            	<span th:case="'0'">Không</span>
										            	<span th:case="'1'">Hiển thị Admin</span>
										            	<span th:case="'2'">Hiển thị Thí sinh</span>
										            	<span th:case="'3'">Hiển thị tất cả</span>
										            </td>
										            <td><a th:href="@{/admin/curriculum/edit/{id}(id=${curry.id})}"><i style="color: #0BCE97;" class="fa-solid fa-pen-to-square fa-2xl"></i></a></td> 
										        </tr>   
	                                        </tbody>                
	                                    </table>
	                                    <div id="loading" class="spinner-border text-success d-none" role="status">
										  <span class="visually-hidden">Loading...</span>
										</div>
                                    <!-- 
                                    <div class="modal fade" id="alertModal" tabindex="-1" aria-labelledby="alertModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                          <div class="modal-content">
                                            <div class="modal-header">
                                              <h5 class="modal-title" id="alertModalLabel">Cảnh báo</h5>
                                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              Xác nhận xóa đối tượng ưu tiên?
                                            </div>
                                            <div class="modal-footer">
                                              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
                                              <button type="button" class="btn btn-danger">Xác nhận</button>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                       -->
                                	</div>
                                	
                                    <!-- ------------------------------end table------------------------- -->
                            </div>
                        </div>


                    </div>

                    <!-- end table -->



                    <div class="small_box_bottom"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card widget-flat">


                        </div> <!-- end card-->
                    </div> <!-- end col-->




                </div> <!-- end col -->



            </div>
            <!-- container -->

        </div>
        <!-- content -->

         <!-- Footer Start -->
      	<div th:include="fragments/footer :: footer" class="footer" ></div>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

     <!-- Right Sidebar -->
     <div th:include="bar/endbar :: end-bar" class="end-bar" ></div>
    <!-- /End-bar -->

    <!-- bundle -->
    <script th:src="@{/assets/js/vendor.min.js}"></script>
    <script th:src="@{/assets/js/app.min.js}"></script>

    <!-- third party js -->
    <script th:src="@{/assets/js/vendor/apexcharts.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-jvectormap-1.2.2.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-jvectormap-world-mill-en.js}"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script th:src="@{/assets/js/pages/demo.dashboard.js}"></script>
    <script th:src="@{/assets/js/clock.js}"></script>
    <!-- end demo js-->
    <script>
		var tableBody = document.getElementById('tbody');
    	function filter() {
    		const xhttp = new XMLHttpRequest();
    		var khoa = document.getElementById("khoaValue").value;
    		var major = document.getElementById("majorValue").value;
   			tableBody.innerHTML = ''
   			var loading = document.getElementById('loading');
   			loading.classList.remove('d-none')
    		xhttp.onload = function() {
   			
    			var currys = JSON.parse(this.responseText)
    			if (currys.length == 0)
   				{
    				var containerTable = document.getElementById("container-table");
    				var none = document.getElementById('none')
    				if (none == null)
   					{
    					none = document.createElement('div');
        				none.setAttribute('id', 'none')
        				none.innerHTML = '<p class="h3">Không có dữ liệu!</p>'
    					containerTable.appendChild(none);
   					}
    				
   				}
    			else
   				{
    				var none = document.getElementById('none')
    				if (none != null)
   					{
    					none.remove();
   					}
   					currys.forEach(curry)
   				}
    			loading.classList.add('d-none')
    		}
    		
    		if (khoa == 0 && major == "0")
    		{
    			xhttp.open("GET", "http://222.255.130.100:7070/vku/admin/api/curry/search?", true);
    		}
    		else if (khoa == 0)
    		{
    			xhttp.open("GET", "http://222.255.130.100:7070/vku/admin/api/curry/search?idNganh=" + major, true);
    		}
    		else if (major == "0")
    		{
    			xhttp.open("GET", "http://222.255.130.100:7070/vku/admin/api/curry/search?idKhoa=" + khoa, true);
    		}
    		else 
    		{
    			xhttp.open("GET", "http://222.255.130.100:7070/vku/admin/api/curry/search?idKhoa=" + khoa + "&idNganh=" + major, true);
    		}
    		
    		xhttp.send()
    		
    	}
    	
    	function curry(item, index, arr) {
    		var row = document.createElement('tr');
			var indexCell = document.createElement('td');
			indexCell.textContent = index + 1;
			var khoaCell = document.createElement('td');
			khoaCell.textContent = item.khoa.khoa;
			var majorNameCell = document.createElement('td');
			majorNameCell.textContent = item.majors.majorsName;
			var majorIDCell = document.createElement('td');
			majorIDCell.textContent = item.majors.majorsID;
			var nameCell = document.createElement('td');
			nameCell.textContent = item.name;
			var statusCell = document.createElement('td');
			if (item.status == 1)
			{
				statusCell.textContent = 'Hiện'
			}
			else 
			{
				statusCell.textContent = 'Ẩn'
			}
			var showCell = document.createElement('td');
			if (item.hienthi == 0)
			{
				showCell.textContent = 'Không'
			}
			else if (item.hienthi == 1)
			{
				showCell.textContent = 'Hiển thị Admin'
			}
			else if (item.hienthi == 2)
			{
				showCell.textContent = 'Hiển thị thí sinh'
			}
			else if (item.hienthi == 3)
			{
				showCell.textContent = 'Hiển thị tất cả'
			}
			var updateCell = document.createElement('td');
			updateCell.innerHTML = '<td><a th:href="@{/admin/curriculum/edit/{id}(id=${curry.id})}"><i style="color: #0BCE97;" class="fa-solid fa-pen-to-square fa-2xl"></i></a></td>';
			row.appendChild(indexCell);
			row.appendChild(khoaCell);
			row.appendChild(majorNameCell);
			row.appendChild(majorIDCell);
			row.appendChild(nameCell);
			row.appendChild(statusCell);
			row.appendChild(showCell);
			row.appendChild(updateCell);
			tableBody.appendChild(row);
    	}
    </script>
</body>

</html>