<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <title>Quản lý danh mục giấy tờ</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" />
    <meta content="Coderthemes" name="author" />
    <!-- App favicon -->
    
    <!-- third party css -->
    <link th:href="@{/assets/css/vendor/jquery-jvectormap-1.2.2.css}" rel="stylesheet" type="text/css" />
    <!-- third party css end -->
    <!-- App css -->
    <link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css" id="app-style" />

    <!------------------------------ news ---------------------------------->
    <link rel="shortcut icon" th:href="@{/assets/images/index/iconlogo.png}">
    <link th:href="@{/styleindex.css}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
</head>

<body class="loading" data-layout-color="light" data-leftbar-theme="dark" data-layout-mode="fluid"
    data-rightbar-onstart="true">
    <!-- Begin page -->

    <div class="wrapper">
        <!-- ========== Left Sidebar Start ========== -->
        	<div th:include="menu/menuleft :: menu-left" id="menuleft" class="leftside-menu"></div>
        <!-- Left Sidebar End -->

        <!-- ============================================================== -->
        <!-- Start Page Content here -->
        <!-- ============================================================== -->

        <div class="content-page">
            <div class="content">
                <!-- Topbar Start -->
                <div th:include="fragments/fragmentheader :: header" class="navbar-custom"></div>
                <!-- end Topbar -->

                <!-- Start Content-->
                <div class="container-fluid">

                    <!-- start page title -->
                    <div class="row">
                        <div class="col-12">
                            <div class="page-title-box">
                                <div class="page-title-right">
                                    <form class="d-flex">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-light"
                                                id="dash-daterange">
                                            <span class="input-group-text bg-success border-success text-white">
                                                <i class="mdi mdi-calendar-range font-13"></i>
                                            </span>
                                        </div>
                                        <a href="javascript: void(0);" class="btn btn-success ms-2">
                                            <i class="mdi mdi-autorenew"></i>
                                        </a>
                                        <a href="javascript: void(0);" class="btn btn-success ms-1">
                                            <i class="mdi mdi-filter-variant"></i>
                                        </a>
                                    </form>
                                </div>
                                <h4 class="page-title">Chọn Danh mục giấy tờ cần nộp</h4>
                            </div>
                        </div>
                    </div>
                    <!-- end page title -->
            <!-- ------------------------------start content------------------------------ -->
                    <div class="content">
                        <div class="container1">
                        	<!-- Alert -->
                            <div th:if="${message != null && message.status == 'success'}" class="m-auto w-50 px-4 py-2 rounded-3 text-white" style="background-color: #0BCE97">
                            	<span th:text="${message.message}"></span>
                            </div>
                            <div th:if="${message != null && message.status == 'fail'}" class="m-auto w-50 px-4 py-2 rounded-3 text-white" style="background-color: #FF0000">
                            	<span th:text="${message.message}"></span>
                            </div>
                            <!-- End alert -->
                            <div class="row mt-3">
                                <div class="col-sm-12">
                               		 <h3 class="mx-5"  th:text="'Tích chọn các danh mục giấy tờ cần nộp cho khóa ' + ${khoa.khoa}"></h3>
                                    <div class="mx-5 d-flex justify-content-evenly">
                                    	<div class="col-3">
											<label for="">Ngành</label> <select onchange="filter()" class="w-100 form-select" name="" id="majorValue">
												<option th:each="major : ${majors}" th:value="${major.id}" th:text="${major.MajorsName} + ' - ' + ${major.MajorsID}"></option>
											</select>
										</div>
										<div class="col-3">
											<label for="">Phương thức trúng tuyển</label> 
											<select onchange="filter()" class="w-100 form-select" name="" id="methodValue">
												<option th:each="method : ${methods}" th:value="${method.id}" th:text="${method.ten_phuong_thuc}"></option>
											</select>
										</div>
                                    </div>
                                    <div id="container_check" class="m-auto w-50 mt-4">
                                    	<div id="none" class="fs-4">Không có dữ liệu</div>
	                                    <input onchange="checkAll()" id="checkAll" class="form-check-input" type="checkbox">
	                                    <label id="labelCheckall" class="form-check-label fs-4">Chọn tất cả</label>
	                                    <form action="/admin/documentItems/choose" method="post">
											<div id="list">
											</div>
											<div id="loading" class="spinner-border text-success" role="status">
												<span class="visually-hidden">Loading...</span>
											</div>
	                                        <input name="listId" hidden id="listId">
	                                        <div id="divSubmit" class="text-center mt-4">
	                                            <input onclick="getChecked()" class="btn btn-success" type="submit" value="Xác nhận">
	                                        </div>
	                                    </form> 
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>

                    <!-- end table -->



                    <div class="small_box_bottom"></div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card widget-flat">


                        </div> <!-- end card-->
                    </div> <!-- end col-->




                </div> <!-- end col -->



            </div>
            <!-- container -->

        </div>
        <!-- content -->

         <!-- Footer Start -->
      	<div th:include="fragments/footer :: footer" class="footer" ></div>
        <!-- end Footer -->

    </div>

    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->


    </div>
    <!-- END wrapper -->

    <<!-- Right Sidebar -->
     <div th:include="bar/endbar :: end-bar" class="end-bar" ></div>
    <!-- /End-bar -->

    <!-- bundle -->
    <script th:src="@{/assets/js/vendor.min.js}"></script>
    <script th:src="@{/assets/js/app.min.js}"></script>

    <!-- third party js -->
    <script th:src="@{/assets/js/vendor/apexcharts.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-jvectormap-1.2.2.min.js}"></script>
    <script th:src="@{/assets/js/vendor/jquery-jvectormap-world-mill-en.js}"></script>
    <!-- third party js ends -->

    <!-- demo app -->
    <script th:src="@{/assets/js/pages/demo.dashboard.js}"></script>
    <script th:src="@{/assets/js/clock.js}"></script>
    <!-- end demo js-->
    <script th:inline="javascript">
    
    	function getChecked() {
    		var checkBoxs = document.getElementsByClassName('documentItems');
    		var listId = "";
    		for (let i = 0; i < checkBoxs.length; i++) {
    			  if (checkBoxs[i].checked)
   				  {
   				  	listId = listId + "," + checkBoxs[i].value;
   				  }
    		}
    		listId = listId.substring(1);
    		
    		var input = document.getElementById('listId');
    		input.value = listId;
    	}
    	
    	function checkAll() {
    		var checkBoxs = document.getElementsByClassName('documentItems');
    		for (let i = 0; i < checkBoxs.length; i++) {
  			  if (checkBoxs[i].checked)
 				  {
 				  	checkBoxs[i].checked = false;
 				  }
  			  else 
  				  {
  					checkBoxs[i].checked = true;
  				  }
  			}
    	}
    	var khoa = [[${khoa.id}]]
    	function filter() {
    		var khoa = [[${khoa.id}]]
    		const xhttp = new XMLHttpRequest();
    		var major = document.getElementById("majorValue").value;
    		var method = document.getElementById("methodValue").value;
   			document.getElementById('list').innerHTML = ''
   	    	document.getElementById("loading").classList.remove('d-none');	
    		xhttp.onload = function() {
   				var documents = JSON.parse(this.responseText)
    			if (documents.length == 0)
   				{
    				document.getElementById('none').classList.remove('d-none')
    				document.getElementById('checkAll').classList.add('d-none');
    				document.getElementById('labelCheckall').classList.add('d-none');
    				document.getElementById('divSubmit').classList.add('d-none');
   				}
    			else
   				{
    				document.getElementById('none').classList.add('d-none')
    				document.getElementById('checkAll').classList.remove('d-none');
    				document.getElementById('labelCheckall').classList.remove('d-none');
    				document.getElementById('divSubmit').classList.remove('d-none');
   					documents.forEach(documentItem)
   				}
   	    		document.getElementById("loading").classList.add('d-none');	
    		}
    		
   			xhttp.open("GET", "http://222.255.130.100:7070/vku/admin/api/document/search?idKhoa=" + khoa + "&idNganh=" + major + "&idPttt=" + method, true);
    		
    		xhttp.send()		
    	}
    	
    	function documentItem(item, index, arr) {
    		var div = document.createElement('div')
    		div.classList.add("mt-2")
    		
    		var input = document.createElement('input')
    		input.setAttribute("type", "checkbox")
    		input.classList.add("documentItems", "form-check-input")
    		input.value = item.id;
    		if (item.status == 1)
    			{
    				input.checked = true;
    			}
    		var label = document.createElement('label')
    		label.classList.add("form-check-label", "fs-4",  "mx-1")
    		label.innerText = item.documentType
    		div.appendChild(input);
    		div.appendChild(label);
    		document.getElementById('list').appendChild(div)
    	}
    	
    	window.addEventListener('load', function() {
    	    // Thực hiện các hành động sau khi toàn bộ giao diện và tài nguyên đã tải xong
    	    filter();
    	});
    </script>
</body>

</html>