<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="utf-8" />
<title>Website Tuyển Sinh</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" />
<meta content="Coderthemes" name="author" />
<!-- App favicon -->

<!-- third party css -->
<link th:href="@{/assets/css/vendor/jquery-jvectormap-1.2.2.css}"
	rel="stylesheet" type="text/css" />
<!-- third party css end -->
<!-- App css -->
<link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
<link th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css"
	id="app-style" />

<!------------------------------ news ---------------------------------->
<link rel="shortcut icon" th:href="@{/assets/images/index/iconlogo.png}">
<link th:href="@{/styleindex.css}" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
	<script>
		// Hide the message element after 5 seconds
		setTimeout(function () {
			var messageElement = document.getElementById('message');
			if (messageElement) {
				messageElement.style.display = 'none';
			}
		}, 5000);
	</script>
<script th:inline="javascript">
    $(document).ready(function() {
    	/*var xhttp = new XMLHttpRequest();
     	 var cookie = document.getElementById('cookieValue').value;
     	xhttp.setRequestHeader("Cookie", "nhaphocvku=" + cookie)
     	      		xhttp.withCredentials = true;
     	      		xhttp.send()*/
    	  $('#majorsId, #khoaId').change(function() {
    		    var khoaId = $('#khoaId').val();
    		    var majorsId = $('#majorsId').val();
    		    
    	
    		    searchDataFromAPI(khoaId, majorsId);
    		  });
    	});

    	function searchDataFromAPI(khoaId, majorsId) {
    		if(khoaId!=''&&majorsId!='')
         		var apiURL = 'http://222.255.130.100:7070/vku/admin/api/survey/searchByKey?khoaId=' + khoaId + '&majorsId=' + majorsId ;
         	 else if(khoaId!='')
    	  		var apiURL = 'http://222.255.130.100:7070/vku/admin/api/survey/searchByKey?khoaId=' + khoaId ;
        	else if(majorsId!='')
        		var apiURL = 'http://222.255.130.100:7070/vku/admin/api/survey/searchByKey?majorsId=' + majorsId;
        	
        	else if(majorsId==''&&khoaId=='')
        		var apiURL = 'http://222.255.130.100:7070/vku/admin/api/survey';
    	  $.ajax({
    		    type: 'GET',
    		    url: apiURL,
    		   
    		    success: function(response) {
    		    	  var searchResults = $('#searchResults');
    		          
    		          // Xóa nội dung hiện tại trong tbody
    		          searchResults.empty();
    		          
    		          // Thêm kết quả tìm kiếm vào tbody
    		          response.forEach(function(result, index) {
    		            var row = $('<tr>');
    		            row.append($('<td>').text(index + 1));
    		            row.append($('<td>').text(result.khoa.khoa));
    		            row.append($('<td>').text(result.majors.majorsName));
    		            row.append($('<td>').text(result.name));
    		            row.append($('<td>').text(result.url));
    		            row.append($('<td>').text(result.status));
    		            row.append($('<td>').text(result.decription));
    		            row.append($('<td>').html('<a href="/admin/survey/edit/' + result.id + '"><i style="color: #0BCE97;" class="fa-solid fa-pen-to-square fa-2xl"></i></a>'));
    		            
    		            searchResults.append(row);
    		          });
    		      },
    		    	 
    		    error: function(xhr, status, error) {
    		      // Xử lý lỗi (nếu có) ở đây
    		    }
    		  });
    	}
    	   
    	    
    </script>

</head>

<body class="loading" data-layout-color="light"
	data-leftbar-theme="dark" data-layout-mode="fluid"
	data-rightbar-onstart="true">
	<!-- Begin page -->

	<div class="wrapper">
		<!-- ========== Left Sidebar Start ========== -->
		<div th:include="menu/menuleft :: menu-left" id="menuleft"
			class="leftside-menu"></div>
		<!-- Left Sidebar End -->

		<!-- ============================================================== -->
		<!-- Start Page Content here -->
		<!-- ============================================================== -->
		<div class="content-page">
			<div class="content">
				<!-- Topbar Start -->
				<div th:include="fragments/fragmentheader :: header"
					class="navbar-custom"></div>
			</div>
			<!-- end Topbar -->
			<!-- Start Content-->


			<!-- start page title -->
			<div class="row">
				<div class="col-12">
					<div class="page-title-box">
						<div class="page-title-right">
							<form class="d-flex">
								<div class="input-group">
									<input type="text" class="form-control form-control-light"
										id="dash-daterange" fdprocessedid="9a29hh"> <span
										class="input-group-text bg-success border-success text-white">
										<i class="mdi mdi-calendar-range font-13"></i>
									</span>
								</div>
								<a href="javascript: void(0);" class="btn btn-success ms-2">
									<i class="mdi mdi-autorenew"></i>
								</a> <a href="javascript: void(0);" class="btn btn-success ms-1">
									<i class="mdi mdi-filter-variant"></i>
								</a>
							</form>
						</div>

						<h4 class="page-title ml-h4">Danh sách khảo sát</h4>
						<div class="row">

							<div class="col-md-7">
								<div class="search-container">
									<form id="search-form"
										style="overflow: visible; max-width: 440px; padding-left: 40px;"
										method="get" action="">
										<div class="input-group">
											<!--  <select class="form-select" name="khoaId" id="khoaId" >
									    	<option name="khoaId" th:value>Khóa</option>
                                            <option th:each="khoa1 : ${khoas}" name="khoaId" th:value="${khoa1.id}" th:text="${khoa1.khoa}"></option>
                                        	</select>
                                        	<select class="form-select" name="majorsId" id="majorsId" >
                                        	<option name="majorsId" th:value>Ngành</option>
                                            <option th:each="major : ${majors}" name="majorsId" th:value="${major.id}" th:text="${major.majorsName}"></option>
                                        	</select>
                                        	<select class="form-select" name="curriculumId" id="curriculumId" >
                                        	<option name="curriculumId" th:value>Chương trình học</option>
                                           	<option th:each="currie : ${curries}" name="curriculumId" th:value="${currie.id}" th:text="${currie.name}"></option>
                                        	</select>-->

											 <select class="form-select" name="khoaId" id="khoaId">
												<option value="">Khóa</option>
												<option th:each="khoa1 : ${khoas}" th:value="${khoa1.id}"
													th:text="${khoa1.khoa}"></option></select>
												<select class="form-select" name="majorsId" id="majorsId">
													<option value="">Ngành</option>
													<option th:each="major : ${majors}" th:value="${major.id}"
														th:text="${major.majorsName}"></option></select>

										</div>
									</form>

									</form>
								</div>
							</div>
							<div class="col-md-5">
								<div class="row d-flex flex-row bd-highlight mb-2">
									<div class="col-md-4" style="margin-left: 45px;margin-right: 0;display: inherit;">
										<a th:href="@{/admin/survey/create}">
											<button style="width: 100px;margin-right: 24px;margin-left: -8px;" class="btn btn-success">Add new</button>
										</a>
										<a style="margin-left: 59px;" th:href="@{/admin/survey/createShared}">
											<button style="width: 171px;margin-left: -64px;" class="btn btn-success">Tạo khảo sát chung</button>
										</a>
									</div>
									<div class="col-md-2" style="display: block;margin-right: -34px;margin-left: 133px;">
										<form method="post" th:action="@{'/admin/survey/editSttFlase'}">
	                                            <input class="btn btn-success" type="submit" value="Update data">
										</form>
										
									</div>

								</div>
							</div>
						</div>
						<!-- end page title -->
						<!-- ------------------------------start content------------------------------ -->
						<div class="content">
							<div class="container1">
								<!-- Alert -->
								<div th:if="${message != null && message.status == 'success'}"
									class="m-auto w-50 px-4 py-2 rounded-3 text-white" id="message" 
									style="background-color: #0BCE97">
									<span th:text="${message.message}"></span>
								</div>
								<div th:if="${message != null && message.status == 'fail'}"
									class="m-auto w-50 px-4 py-2 rounded-3 text-white" id="message" 
									style="background-color: #FF0000">
									<span th:text="${message.message}"></span>
								</div>
								<!-- End alert -->
								<div class="row mt-3">
									<div class="col-sm-12 text-center">
									                            <div class="alert alert-success">
										</div>
										<!-- ------------------------------table-------------------------- -->
										<div class="table-responsive">
											<table
												class="table table-responsive table-bordered table-striped">
												<tbody id="searchResults">
													<tr id="tbl-first-row">
														<td>#</td>
														<td>Khóa</td>
														<td>Ngành</td>
														<td>Tên khảo sát</td>
														<td>Link khảo sát</td>
														<td>Status</td>
														<td>Mô tả</td>
													</tr>
													<tr th:each="survey,index : ${surveys}">
														<td th:text="${index.index + 1}"></td>
														<td th:text="${survey.khoa.khoa}"></td>
														<td th:text="${survey.majors.majorsName}"></td>
														<td th:text="${survey.name}"></td>
														<td th:text="${survey.url}"></td>
														<td th:text="${survey.status}"></td>
														<td th:text="${survey.decription}"></td>
														<td><a
															th:href="@{/admin/survey/edit/{id}(id=${survey.id})}"><i
																style="color: #0BCE97;"
																class="fa-solid fa-pen-to-square fa-2xl"></i></a></td>
													</tr>
												</tbody>
											</table>


										</div>
										<!-- ------------------------------end table------------------------- -->
										<!--    <div>
        <a th:href="@{?page=0}" th:unless="${currentPage == 0}">First</a>
        <a th:href="@{?page=${currentPage - 1}}" th:unless="${currentPage == 0}">Previous</a>
        <span th:text="${currentPage}"></span>
        <a th:href="@{?page=${currentPage + 1}}" th:unless="${currentPage + 1 >= totalPages}">Next</a>
        <a th:href="@{?page=${totalPages - 1}}" th:unless="${currentPage + 1 >= totalPages}">Last</a>
    </div>
			 -->
										<br>

									</div>
								</div>
							</div>


							<!-- end table -->



							<div class="small_box_bottom"></div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="card widget-flat"></div>
								<!-- end card-->
							</div>
							<!-- end col-->
						</div>
					</div>
					<!-- container -->

				</div>
				<!-- content -->

				<!-- Footer Start -->
				<div th:include="fragments/footer :: footer" class="footer"></div>
				<!-- end Footer -->
			</div>
			<!-- ============================================================== -->
			<!-- End Page content -->
			<!-- ============================================================== -->
		</div>
		<!-- END wrapper -->
		<!-- Right Sidebar -->
		<div th:include="bar/endbar :: end-bar" class="end-bar"></div>
		<!-- /End-bar -->

		<!-- bundle -->
		<script th:src="@{/assets/js/vendor.min.js}"></script>
		<script th:src="@{/assets/js/app.min.js}"></script>

		<!-- third party js -->
		<script th:src="@{/assets/js/vendor/apexcharts.min.js}"></script>
		<script th:src="@{/assets/js/vendor/jquery-jvectormap-1.2.2.min.js}"></script>
		<script th:src="@{/assets/js/vendor/jquery-jvectormap-world-mill-en.js}"></script>
		<!-- third party js ends -->

		<!-- demo app -->
		<script th:src="@{/assets/js/pages/demo.dashboard.js}"></script>
		<script th:src="@{/assets/js/clock.js}"></script>
		<!-- end demo js-->
</body>

</html>