<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8" />
		<title>Website Tuyển Sinh</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta content="Le Hieu đẹp trai nhất hệ mặt trời" name="description" />
		<meta content="Coderthemes" name="author" />
		<!-- App favicon -->

		<!-- third party css -->
		<link href="nhaphocvku/./assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
		<!-- third party css end -->
		<!-- App css -->
		<link th:href="@{/assets/css/icons.min.css}" rel="stylesheet" type="text/css" />
		<link th:href="@{/assets/css/app.min.css}" rel="stylesheet" type="text/css" id="app-style" />

		<!------------------------------ news ---------------------------------->
		<link rel="shortcut icon" th:href="@{/assets/images/index/iconlogo.png}">
		<link th:href="@{/styleindex.css}" rel="stylesheet" type="text/css">
		<link rel="stylesheet" type="text/css"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css">

	</head>

	<body class="loading" data-layout-color="light" data-leftbar-theme="dark" data-layout-mode="fluid"
		data-rightbar-onstart="true">
		<!-- Begin page -->

		<div class="wrapper">
			<!-- ========== Left Sidebar Start ========== -->
			<div id="menuleft" class="leftside-menu">

				<!-- LOGO -->
				<a href="index.html" class="logo text-center logo-light">
					<span class="logo-lg">
						<img src="assets/images/index/logo.png" alt="" height="50">
					</span>
					<span class="logo-sm">
						<img src="assets/images/index/logo.png" alt="" height="16">
					</span>
				</a>

				<!-- LOGO -->
				<a href="index.html" class="logo text-center logo-dark">
					<span class="logo-lg">
						<img src="assets/images/logo-dark.png" alt="" height="16">
					</span>
					<span class="logo-sm">
						<img src="assets/images/logo_sm_dark.png" alt="" height="16">
					</span>
				</a>

				<div class="h-100" id="leftside-menu-container" data-simplebar>

					<!--- Sidemenu -->
					<ul class="side-nav">

						<li class="side-nav-title side-nav-item">Hồ sơ của trường VKU</li>

						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarDashboards1" aria-expanded="false"
								aria-controls="sidebarDashboards1" class="side-nav-link">
								<i class="uil-home-alt"></i>
								<span class="badge bg-success float-end">9</span>
								<span> Trang chủ </span>
							</a>

							<div class="collapse" id="sidebarDashboards1">
								<ul class="side-nav-second-level">
									<li>
										<a href="indexQuyen.html">Quản lý quyền</a>

									</li>
									<li>
										<a href="index.html">Quản lý nội dung</a>
									</li>
									<li>
										<a href="account.html">Quản lý tài khoản</a>
									</li>
									<li>
										<a href="hocphi.html">Quản lý khoản học phí</a>
									</li>
									<li>
										<a href="indexMoney.html">
											Quản lý nộp học phí
										</a>
									</li>
									<li>
										<a href="giayto.html">Quản lý loại giấy tờ</a>
									</li>
									<li>
										<a href="indexGiayto.html">Quản lý giấy tờ CTSV</a>
									</li>
									<li>
										<a href="chuongtrinhhoc.html">Quản lý Chương trình học</a>
									</li>
									<li>
										<a href="indexKe.html">Thống kê</a>
									</li>
									<li>
										<a href="dashboard-wallet.html">Phân tích </a>

									</li>

								</ul>
							</div>
						</li>
						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarDashboards2" aria-expanded="false"
								aria-controls="sidebarDashboards2" class="side-nav-link">
								<i class="uil-smile"></i>
								<span class="badge bg-success float-end">4</span>
								<span> Sinh viên</span>
							</a>

							<div class="collapse" id="sidebarDashboards2">
								<ul class="side-nav-second-level">
									<li>
										<a href="xeplop.html">Xếp lớp </a>

									</li>
									<li>
										<a href="dangkichuongtrinh.html">Kết quả đăng ký chương trình global </a>

									</li>
									<li>
										<a href="ketquadangkixe.html">Kết quả đăng ký hỗ trợ xe đón </a>

									</li>
									<li>
										<a href="khoatuyensinh.html">Thiết lập khoá tuyển sinh</a>

									</li>
								</ul>
							</div>
						</li>

						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarDashboards3" aria-expanded="false"
								aria-controls="sidebarDashboards3" class="side-nav-link">
								<i class="dripicons-folder"></i>
								<span class="badge bg-success float-end">8</span>
								<span>Dữ liệu</span>
							</a>

							<div class="collapse" id="sidebarDashboards3">
								<ul class="side-nav-second-level">
									<li>
										<a href="dantoc.html">Dân tộc </a>

									</li>
									<li>
										<a href="dtut.html">Đối tượng ưu tiên</a>

									</li>
									<li>
										<a href="tinhthanh.html">Quê Quán</a>

									</li>

									<li>
										<a href="tongiao.html">Tôn giáo </a>

									</li>
									<li>
										<a href="khoa.html">Khóa</a>

									</li>
									<li>
										<a href="nganh.html">Ngành</a>
									</li>
								</ul>
							</div>
						</li>
						<!-- ------------------------------end trang chủ------------------------ -->
						<li class="side-nav-title side-nav-item">Apps</li>

						<li class="side-nav-item">
							<a href="apps-calendar.html" class="side-nav-link">
								<i class="uil-calender"></i>
								<span> Calendar </span>
							</a>
						</li>



						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarEmail" aria-expanded="false"
								aria-controls="sidebarEmail" class="side-nav-link">
								<i class="uil-envelope"></i>
								<span> Email </span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarEmail">
								<ul class="side-nav-second-level">
									<li>
										<a href="apps-email-inbox.html">Inbox</a>
									</li>
									<li>
										<a href="apps-email-read.html">Read Email</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="side-nav-title side-nav-item">Custom</li>

						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarLayouts" aria-expanded="false"
								aria-controls="sidebarLayouts" class="side-nav-link">
								<i class="uil-window"></i>
								<span> Layouts </span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarLayouts">
								<ul class="side-nav-second-level">
									<li>
										<a href="layouts-horizontal.html">Horizontal</a>
									</li>
									<li>
										<a href="layouts-detached.html">Detached</a>
									</li>
									<li>
										<a href="layouts-full.html">Full</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="side-nav-title side-nav-item mt-1">Components</li>







						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarIcons" aria-expanded="false"
								aria-controls="sidebarIcons" class="side-nav-link">
								<i class="uil-streering"></i>
								<span> Icons </span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarIcons">
								<ul class="side-nav-second-level">
									<li>
										<a href="icons-dripicons.html">Dripicons</a>
									</li>
									<li>
										<a href="icons-mdi.html">Material Design</a>
									</li>
									<li>
										<a href="icons-unicons.html">Unicons</a>
									</li>
								</ul>
							</div>
						</li>

						<li class="side-nav-item">
							<a data-bs-toggle="collapse" href="#sidebarMaps" aria-expanded="false"
								aria-controls="sidebarMaps" class="side-nav-link">
								<i class="uil-location-point"></i>
								<span> Maps </span>
								<span class="menu-arrow"></span>
							</a>
							<div class="collapse" id="sidebarMaps">
								<ul class="side-nav-second-level">
									<li>
										<a href="maps-google.html">Google Maps</a>
									</li>
									<li>
										<a href="maps-vector.html">Vector Maps</a>
									</li>
								</ul>
							</div>
						</li>

					</ul>
					<!-- End Sidebar -->

					<div class="clearfix"></div>

				</div>
				<!-- Sidebar -left -->

			</div>

			<!-- Left Sidebar End -->

			<!-- ============================================================== -->
			<!-- Start Page Content here -->
			<!-- ============================================================== -->

			<div class="content-page">
				<div class="content">
					<!-- Topbar Start -->
					<div class="navbar-custom">
						<ul class="list-unstyled topbar-menu float-end mb-0 d-flex">
							<h4 class="d-flex justify-content-center align-items-center" id="timer">
								00:00:00
							</h4>
							<li class="dropdown notification-list d-lg-none">
								<a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#"
									role="button" aria-haspopup="false" aria-expanded="false">
									<i class="dripicons-search noti-icon"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-animated dropdown-lg p-0">
									<form class="p-3">
										<input type="text" class="form-control" placeholder="Search ..."
											aria-label="Recipient's username">
									</form>
								</div>
							</li>


							<li class="dropdown notification-list">
								<a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#"
									role="button" aria-haspopup="false" aria-expanded="false">
									<i class="dripicons-bell noti-icon"></i>
									<span class="noti-icon-badge"></span>
								</a>
								<div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg">

									<!-- item-->
									<div class="dropdown-item noti-title px-3">
										<h5 class="m-0">
											<span class="float-end">
												<a href="javascript: void(0);" class="text-dark">
													<small>Clear All</small>
												</a>
											</span>Notification
										</h5>
									</div>

									<div class="px-3" style="max-height: 300px;" data-simplebar>

										<h5 class="text-muted font-13 fw-normal mt-0">Today</h5>
										<!-- item-->
										<a href="javascript:void(0);"
											class="dropdown-item p-0 notify-item card unread-noti shadow-none mb-2">
											<div class="card-body">
												<span class="float-end noti-close-btn text-muted"><i
														class="mdi mdi-close"></i></span>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<div class="notify-icon bg-success">
															<i class="mdi mdi-comment-account-outline"></i>
														</div>
													</div>
													<div class="flex-grow-1 text-truncate ms-2">
														<h5 class="noti-item-title fw-semibold font-14">Datacorp <small
																class="fw-normal text-muted ms-1">1 min ago</small></h5>
														<small class="noti-item-subtitle text-muted">Caleb Flakelar
															commented on Admin</small>
													</div>
												</div>
											</div>
										</a>

										<!-- item-->
										<a href="javascript:void(0);"
											class="dropdown-item p-0 notify-item card read-noti shadow-none mb-2">
											<div class="card-body">
												<span class="float-end noti-close-btn text-muted"><i
														class="mdi mdi-close"></i></span>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<div class="notify-icon bg-info">
															<i class="mdi mdi-account-plus"></i>
														</div>
													</div>
													<div class="flex-grow-1 text-truncate ms-2">
														<h5 class="noti-item-title fw-semibold font-14">Admin <small
																class="fw-normal text-muted ms-1">1 hours ago</small>
														</h5>
														<small class="noti-item-subtitle text-muted">New user
															registered</small>
													</div>
												</div>
											</div>
										</a>

										<h5 class="text-muted font-13 fw-normal mt-0">Yesterday</h5>

										<!-- item-->
										<a href="javascript:void(0);"
											class="dropdown-item p-0 notify-item card read-noti shadow-none mb-2">
											<div class="card-body">
												<span class="float-end noti-close-btn text-muted"><i
														class="mdi mdi-close"></i></span>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<div class="notify-icon">
															<img th:src="@{/assets/images/users/avatar-2.jpg}"
																class="img-fluid rounded-circle" alt="" />
														</div>
													</div>
													<div class="flex-grow-1 text-truncate ms-2">
														<h5 class="noti-item-title fw-semibold font-14">Cristina Pride
															<small class="fw-normal text-muted ms-1">1 day ago</small>
														</h5>
														<small class="noti-item-subtitle text-muted">Hi, How are you?
															What
															about our next meeting</small>
													</div>
												</div>
											</div>
										</a>

										<h5 class="text-muted font-13 fw-normal mt-0">30 Dec 2021</h5>

										<!-- item-->
										<a href="javascript:void(0);"
											class="dropdown-item p-0 notify-item card read-noti shadow-none mb-2">
											<div class="card-body">
												<span class="float-end noti-close-btn text-muted"><i
														class="mdi mdi-close"></i></span>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<div class="notify-icon bg-success">
															<i class="mdi mdi-comment-account-outline"></i>
														</div>
													</div>
													<div class="flex-grow-1 text-truncate ms-2">
														<h5 class="noti-item-title fw-semibold font-14">Datacorp</h5>
														<small class="noti-item-subtitle text-muted">Caleb Flakelar
															commented on Admin</small>
													</div>
												</div>
											</div>
										</a>

										<!-- item-->
										<a href="javascript:void(0);"
											class="dropdown-item p-0 notify-item card read-noti shadow-none mb-2">
											<div class="card-body">
												<span class="float-end noti-close-btn text-muted"><i
														class="mdi mdi-close"></i></span>
												<div class="d-flex align-items-center">
													<div class="flex-shrink-0">
														<div class="notify-icon">
															<img src="assets/images/users/avatar-4.jpg"
																class="img-fluid rounded-circle" alt="" />
														</div>
													</div>
													<div class="flex-grow-1 text-truncate ms-2">
														<h5 class="noti-item-title fw-semibold font-14">Karen Robinson
														</h5>
														<small class="noti-item-subtitle text-muted">Wow ! this admin
															looks
															good and awesome design</small>
													</div>
												</div>
											</div>
										</a>

										<div class="text-center">
											<i class="mdi mdi-dots-circle mdi-spin text-muted h3 mt-0"></i>
										</div>
									</div>

									<!-- All-->
									<a href="javascript:void(0);"
										class="dropdown-item text-center text-primary notify-item border-top border-light py-2">
										View All
									</a>

								</div>
							</li>

							<li class="dropdown notification-list d-none d-sm-inline-block">
								<a class="nav-link dropdown-toggle arrow-none" data-bs-toggle="dropdown" href="#"
									role="button" aria-haspopup="false" aria-expanded="false">
									<i class="dripicons-view-apps noti-icon"></i>
								</a>
								<div class="dropdown-menu dropdown-menu-end dropdown-menu-animated dropdown-lg p-0">

									<div class="p-2">
										<div class="row g-0">
											<div class="col">
												<a class="dropdown-icon-item" href="#">
													<img src="assets/images/brands/slack.png" alt="slack">
													<span>Slack</span>
												</a>
											</div>
											<div class="col">
												<a class="dropdown-icon-item" href="#">
													<img src="assets/images/brands/github.png" alt="Github">
													<span>GitHub</span>
												</a>
											</div>
											<div class="col">
												<a class="dropdown-icon-item" href="#">
													<img src="assets/images/brands/dribbble.png" alt="dribbble">
													<span>Dribbble</span>
												</a>
											</div>
										</div>

										<div class="row g-0">
											<div class="col">
												<a class="dropdown-icon-item" href="#">
													<img th:src="@{/assets/images/brands/bitbucket.png" alt="bitbucket">
													<span>Bitbucket</span>
												</a>
											</div>
											<div class="col">
												<a class="dropdown-icon-item" href="#">
													<img th:src="@{/assets/images/brands/dropbox.png" alt="dropbox">
													<span>Dropbox</span>
												</a>
											</div>
											<div class="col">
												<a class="dropdown-icon-item" href="#">
													<img th:src="@{/assets/images/brands/g-suite.png" alt="G Suite">
													<span>G Suite</span>
												</a>
											</div>
										</div> <!-- end row-->
									</div>

								</div>
							</li>

							<li class="notification-list">
								<a class="nav-link end-bar-toggle" href="javascript: void(0);">
									<i class="dripicons-gear noti-icon"></i>
								</a>
							</li>

							<li class="dropdown notification-list">
								<a class="nav-link dropdown-toggle nav-user arrow-none me-0" data-bs-toggle="dropdown"
									href="#" role="button" aria-haspopup="false" aria-expanded="false">
									<span class="account-user-avatar">
										<img th:src="@{/assets/images/index/cv.png" alt="user-image" class="rounded-circle">
									</span>
									<span class="admin">
										<span class="account-user-name">Le Hieu</span>
										<span class="account-position">Admin</span>
									</span>
								</a>
								<div
									class="dropdown-menu dropdown-menu-end dropdown-menu-animated topbar-dropdown-menu profile-dropdown">
									<!-- item-->
									<div class=" dropdown-header noti-title">
										<h6 class="text-overflow m-0">Welcome !</h6>
									</div>

									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<i class="mdi mdi-account-circle me-1"></i>
										<span>My Account</span>
									</a>

									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<i class="mdi mdi-account-edit me-1"></i>
										<span>Settings</span>
									</a>

									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<i class="mdi mdi-lifebuoy me-1"></i>
										<span>Support</span>
									</a>

									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<i class="mdi mdi-lock-outline me-1"></i>
										<span>Lock Screen</span>
									</a>

									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<i class="mdi mdi-logout me-1"></i>
										<span>Logout</span>
									</a>
								</div>
							</li>

						</ul>
						<button class="button-menu-mobile open-left">
							<i class="mdi mdi-menu"></i>
						</button>
						<div class="app-search dropdown d-none d-lg-block">
							<form>
								<div class="input-group">
									<input type="text" class="form-control dropdown-toggle"
										placeholder="Tìm kiếm tên thí sinh" id="top-search">
									<span class="mdi mdi-magnify search-icon"></span>
									<button class="input-group-text btn-success" type="submit">Search</button>
								</div>
							</form>

							<div class="dropdown-menu dropdown-menu-animated dropdown-lg" id="search-dropdown">
								<!-- item-->
								<div class="dropdown-header noti-title">
									<h5 class="text-overflow mb-2">Found <span class="text-danger">17</span> results
									</h5>
								</div>

								<!-- item-->
								<a href="javascript:void(0);" class="dropdown-item notify-item">
									<i class="uil-notes font-16 me-1"></i>
									<span>Analytics Report</span>
								</a>

								<!-- item-->
								<a href="javascript:void(0);" class="dropdown-item notify-item">
									<i class="uil-life-ring font-16 me-1"></i>
									<span>How can I help you?</span>
								</a>

								<!-- item-->
								<a href="javascript:void(0);" class="dropdown-item notify-item">
									<i class="uil-cog font-16 me-1"></i>
									<span>User profile settings</span>
								</a>

								<!-- item-->
								<div class="dropdown-header noti-title">
									<h6 class="text-overflow mb-2 text-uppercase">Users</h6>
								</div>

								<div class="notification-list">
									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<div class="d-flex">
											<img class="d-flex me-2 rounded-circle"
												th:src="@{/assets/images/users/avatar-2.jpg}" alt="Generic placeholder image"
												height="32">
											<div class="w-100">
												<h5 class="m-0 font-14">Erwin Brown</h5>
												<span class="font-12 mb-0">UI Designer</span>
											</div>
										</div>
									</a>

									<!-- item-->
									<a href="javascript:void(0);" class="dropdown-item notify-item">
										<div class="d-flex">
											<img class="d-flex me-2 rounded-circle"
												th:src="@{/assets/images/users/avatar-5.jpg" alt="Generic placeholder image"
												height="32">
											<div class="w-100">
												<h5 class="m-0 font-14">Jacob Deo</h5>
												<span class="font-12 mb-0">Developer</span>
											</div>
										</div>
									</a>
								</div>
							</div>
						</div>
					</div>
					<!-- end Topbar -->

					<!-- Start Content-->
					<div class="container-fluid">

						<!-- start page title -->
						<div class="row">
							<div class="col-12">
								<div class="page-title-box">
									<div class="page-title-right">
										<form class="d-flex">
											<div class="input-group">
												<input type="text" class="form-control form-control-light"
													id="dash-daterange">
												<span class="input-group-text bg-success border-success text-white">
													<i class="mdi mdi-calendar-range font-13"></i>
												</span>
											</div>
											<a href="javascript: void(0);" class="btn btn-success ms-2">
												<i class="mdi mdi-autorenew"></i>
											</a>
											<a href="javascript: void(0);" class="btn btn-success ms-1">
												<i class="mdi mdi-filter-variant"></i>
											</a>
										</form>
									</div>
									<h4 class="page-title">List giấy tờ</h4>
								</div>
							</div>
						</div>
						<!-- end page title -->
						<!-- ------------------------------start content------------------------------ -->
						<div class="d-flex align-items-center">
							<select class="form-select me-2">
								<option value="">&Xi; Tất cả các hình thức</option>
								<option value="">Xét điểm THPT</option>
								<option value="">Xét học bạ</option>
								<option value="">Đánh Giá năng lực</option>
								<option value="">Tuyển sinh riêng</option>
								<option value="">Tuyển thẳng</option>
							</select>
							<select class="form-select">
								<option value="">&Xi; Tất cả các ngành</option>
								<option value="">Công nghệ thông tin (kỹ sư)</option>
								<option value="">Công nghệ thông tin (cử nhân)
								</option>
								<option value="">Công nghệ thông tin (Hợp tác doanh nghiệp)</option>
								<option value="">Chuyên ngành Thiết kế Mỹ thuật số (kỹ sư)</option>
								<option value="">Chuyên ngành Khoa học dữ liệu và Trí tuệ nhân tạo (kỹ sư)</option>
								<option value="">Chuyên ngành Mạng và An toàn thông tin (kỹ sư)</option>
								<option value="">Công nghệ kỹ thuật máy tính (kỹ sư)</option>
								<option value="">Công nghệ kỹ thuật máy tính (cử nhân)</option>
								<option value="">Quản trị kinh doanh</option>
								<option value="">Chuyên ngành Marketing kỹ thuật số</option>
								<option value="">Chuyên ngành Quản trị tài chính số</option>
								<option value="">Chuyên ngành Quản trị Logistics và chuỗi cung ứng số</option>
								<option value="">Chuyên ngành Quản trị dịch vụ du lịch và lữ hành số</option>
								<option value="">Chuyên ngành Quản trị dự án Công nghệ thông tin</option>
							</select>
						</div> <br>




						<div class="content">
							<div class="container1">
								<div id="navbar" class="row">
								</div>

								<div class="row">


									<div class="col-sm-12 text-center">
										<div class="alert alert-success">
											- Có 1521 thí sinh đã nộp hồ sơ sinh viên
										</div>

										<!-- ------------------------------table-------------------------- -->
										<div class="table-responsive">
											<table class="table table-responsive table-bordered table-striped">
												<tr id="tbl-first-row">
													<td width="0%">#</td>
													<td width="20%">Fullname</td>
													<td width="5%">Giấy báo</td>
													<td width="10%">Chứng nhận kết quả</td>
													<td width="5%">2 Sơ yếu lý lịch</td>
													<td width="15%">Bản chính tốt nghiệp tạm thời</td>
													<td width="10%">Học bạ bản sao</td>
													<td width="10%">Bản sao hộ khẩu</td>
													<td width="20%">Giấy khai sinh</td>
													<td width="10%">Ảnh 3x4</td>
													<td width="10%">Giấy chứng nhận</td>
													<td width="10%">NVQS</td>
													<td width="10%">CCCD</td>
													<td width="10%">Ghi chú</td>
													<td width="10%">Edit</td>
												</tr>
												<tr>
													<td>1</td>
													<td>LÊ VĂN HIẾU<br>
														Gửi email nhắc: hieulv.21ad@vku.udn.vn <br>
														Phone: 0399824061</td>
													<td><i style="color: red;"
															class="fa-solid fa-circle-xmark fa-2xl"></i></td>
													<td><i style="color: #0BCE97;"
															class="fa-solid fa-circle-check fa-2xl"></i></td>
													<td><i style="color: red;"
															class="fa-solid fa-circle-xmark fa-2xl"></i></td>
													<td><i style="color: #0BCE97;"
															class="fa-solid fa-circle-check fa-2xl"></i></td>
													<td><i style="color: red;"
															class="fa-solid fa-circle-xmark fa-2xl"></i></td>
													<td><i style="color: #0BCE97;"
															class="fa-solid fa-circle-check fa-2xl"></i></td>
													<td><i style="color: red;"
															class="fa-solid fa-circle-xmark fa-2xl"></i></td>
													<td><i style="color: #0BCE97;"
															class="fa-solid fa-circle-check fa-2xl"></i></td>
													<td><i style="color: red;"
															class="fa-solid fa-circle-xmark fa-2xl"></i></td>
													<td><i style="color: #0BCE97;"
															class="fa-solid fa-circle-check fa-2xl"></i></td>
													<td><i style="color: red;"
															class="fa-solid fa-circle-xmark fa-2xl"></i></td>
													<td><i style="color: #0BCE97;"
															class="fa-solid fa-circle-check fa-2xl"></i></td>
													<td><i style="color: #0BCE97; "
															class="fa-solid fa-pen-to-square fa-2xl"></i></td>
												</tr>



											</table>
										</div>
										<!-- ------------------------------end table------------------------- -->
										<div class="pagination-container">
											<nav aria-label="Page navigation example">
												<ul class="pagination">
													<li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
													<li class="page-item"><a class="page-link" href="#">1</a></li>
													<li class="page-item"><a class="page-link" href="#">2</a></li>
													<li class="page-item"><a class="page-link" href="#">3</a></li>
													<li class="page-item"><a class="page-link" href="#">&raquo;</a></li>
												</ul>
											</nav>
										</div><br>

									</div>
								</div>
							</div>


						</div>

						<!-- end table -->



						<div class="small_box_bottom"></div>
					</div>
					<div class="row">
						<div class="col-sm-6">
							<div class="card widget-flat">


							</div> <!-- end card-->
						</div> <!-- end col-->




					</div> <!-- end col -->



				</div>
				<!-- container -->

			</div>
			<!-- content -->

			<!-- Footer Start -->
			<footer class="footer">
				<div class="container-fluid">
					<div class="row1">
						<div class="col-md-12">
							<span>Copyright © 2017-2023 - Trường Đại học Công nghệ Thông tin & Truyền Thông Việt - Hàn,
								Đại
								học Đà Nẵng</span>
						</div>
						<div class="col-md-12">
							<div><span></span><i class="fa-solid fa-house"></i> Địa chỉ: Khu Đô thị Đại học Đà Nẵng,
								Đường
								Nam Kỳ Khởi Nghĩa, quận Ngũ Hành Sơn, TP. Đà Nẵng <br>
								<span></span><i class="fa-solid fa-square-phone"></i></i> Điện thoại: 0236.6.552.688

								&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-envelope"></i> daotao@vku.udn.vn
							</div>
						</div>
					</div>
				</div>
			</footer>
			<!-- end Footer -->

		</div>

		<!-- ============================================================== -->
		<!-- End Page content -->
		<!-- ============================================================== -->


		</div>
		<!-- END wrapper -->

		<!-- Right Sidebar -->
		<div class="end-bar">

			<div class="rightbar-title">
				<a href="javascript:void(0);" class="end-bar-toggle float-end">
					<i class="dripicons-cross noti-icon"></i>
				</a>
				<h5 class="m-0">Settings</h5>
			</div>

			<div class="rightbar-content h-100" data-simplebar>

				<div class="p-3">
					<div class="alert alert-warning" role="alert">
						<strong>Customize </strong> the overall color scheme, sidebar menu, etc.
					</div>

					<!-- Settings -->
					<h5 class="mt-3">Color Scheme</h5>
					<hr class="mt-1" />

					<div class="form-check form-switch mb-1">
						<input class="form-check-input" type="checkbox" name="color-scheme-mode" value="light"
							id="light-mode-check" checked>
						<label class="form-check-label" for="light-mode-check">Light Mode</label>
					</div>

					<div class="form-check form-switch mb-1">
						<input class="form-check-input" type="checkbox" name="color-scheme-mode" value="dark"
							id="dark-mode-check">
						<label class="form-check-label" for="dark-mode-check">Dark Mode</label>
					</div>


					<!-- Width -->
					<h5 class="mt-4">Width</h5>
					<hr class="mt-1" />
					<div class="form-check form-switch mb-1">
						<input class="form-check-input" type="checkbox" name="width" value="fluid" id="fluid-check"
							checked>
						<label class="form-check-label" for="fluid-check">Fluid</label>
					</div>

					<div class="form-check form-switch mb-1">
						<input class="form-check-input" type="checkbox" name="width" value="boxed" id="boxed-check">
						<label class="form-check-label" for="boxed-check">Boxed</label>
					</div>


					<!-- Left Sidebar-->
					<h5 class="mt-4">Left Sidebar</h5>
					<hr class="mt-1" />
					<div class="form-check form-switch mb-1">
						<input class="form-check-input" type="checkbox" name="theme" value="default" id="default-check">
						<label class="form-check-label" for="default-check">Default</label>
					</div>

					<div class="form-check form-switch mb-1">
						<input class="form-check-input" type="checkbox" name="theme" value="light" id="light-check"
							checked>
						<label class="form-check-label" for="light-check">Light</label>
					</div>

					<div class="form-check form-switch mb-3">
						<input class="form-check-input" type="checkbox" name="theme" value="dark" id="dark-check">
						<label class="form-check-label" for="dark-check">Dark</label>
					</div>

					<div class="form-check form-switch mb-1">
						<input class="form-check-input" type="checkbox" name="compact" value="fixed" id="fixed-check"
							checked>
						<label class="form-check-label" for="fixed-check">Fixed</label>
					</div>

					<div class="form-check form-switch mb-1">
						<input class="form-check-input" type="checkbox" name="compact" value="condensed"
							id="condensed-check">
						<label class="form-check-label" for="condensed-check">Condensed</label>
					</div>

					<div class="form-check form-switch mb-1">
						<input class="form-check-input" type="checkbox" name="compact" value="scrollable"
							id="scrollable-check">
						<label class="form-check-label" for="scrollable-check">Scrollable</label>
					</div>

					<div class="d-grid mt-4">
						<button class="btn btn-success" id="resetBtn">Reset to Default</button>

						<a href="https://themes.getbootstrap.com/product/hyper-responsive-admin-dashboard-template/"
							class="btn btn-success mt-3" target="_blank"><i class="mdi mdi-basket me-1"></i> Purchase
							Now</a>
					</div>
				</div> <!-- end padding-->

			</div>
		</div>

		<div class="rightbar-overlay"></div>
		<!-- /End-bar -->

		<!-- bundle -->
		<script th:src="@{/assets/js/vendor.min.js}"></script>
		<script th:src="@{/assets/js/app.min.js}"></script>

		<!-- third party js -->
		<script th:src="@{/assets/js/vendor/apexcharts.min.js}"></script>
		<script th:src="@{/assets/js/vendor/jquery-jvectormap-1.2.2.min.js}"></script>
		<script th:src="@{/assets/js/vendor/jquery-jvectormap-world-mill-en.js}"></script>
		<!-- third party js ends -->

		<!-- demo app -->
		<script th:src="@{/assets/js/pages/demo.dashboard.js}"></script>
		<script th:src="@{/assets/js/clock.js}"></script>
		<!-- end demo js-->
	</body>

</html>