<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head>	
		<title> Trường  Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn, Đại học Đà Nẵng</title> 
		<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
		<meta name="robots" content="index,follow" /> 
		
		<meta http-equiv="content-language" content="vi"/>         
		<meta http-equiv="Content-Script-Type" content="text/javascript" /> 
		<meta http-equiv="Content-Style-Type" content="text/css" />	
		<meta name="description" content="Trường Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn là một khoa thành viên của Đại học Đà Nẵng, có nhiệm vụ đào tạo nguồn nhân lực công nghệ thông tin chất lượng cao góp phần tích cực vào sự phát triển của nền công nghiệp công nghệ thông tin Việt Nam, đồng thời tiến hành nghiên cứu khoa học và chuyển giao công nghệ thông tin tiên tiến, đặc biệt là hướng vào các ứng dụng nhằm góp phần đẩy mạnh sự nghiệp công nghiệp hóa, hiện đại hóa đất nước. " /> 
		<meta name="keywords" content="Trường Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn, Đại học Đà Nẵng" /> 			
		<meta name="abstract" content="Trường Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn, Đại học Đà Nẵng" />
		<meta name="google-site-verification" content="oiI1qVQx9lpU-bSMu_Z_q5B3Ap2b0aimEVmLklQJM1U" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="distribution" content="Global" /> 
		
		<meta name="REVISIT-AFTER" content="1 DAYS" /> 
		<meta name="RATING" content="GENERAL" /> 		
		<meta property="og:locale" content="vi_VN" />
		<meta property="og:type" />
		<meta property="og:title" content=" Trường  Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn, Đại học Đà Nẵng" />
		<meta property="og:description" content="Trường Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn là một khoa thành viên của Đại học Đà Nẵng, có nhiệm vụ đào tạo nguồn nhân lực công nghệ thông tin chất lượng cao góp phần tích cực vào sự phát triển của nền công nghiệp công nghệ thông tin Việt Nam, đồng thời tiến hành nghiên cứu khoa học và chuyển giao công nghệ thông tin tiên tiến, đặc biệt là hướng vào các ứng dụng nhằm góp phần đẩy mạnh sự nghiệp công nghiệp hóa, hiện đại hóa đất nước. " />
		<meta property="og:site_name" content=" Trường  Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn, Đại học Đà Nẵng" />
		<meta property='og:image' content='http://vku.udn.vn/images/logo_icon.png'>
		
		<link href="nhaphocvku/./assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/app.min.css}" /> 
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/icons.min.css}" /> 
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/styleindex.css}" />				
        <script type="text/javascript" src="assets/js/jquery.js"></script> 
		</head> 
	<body>
	
<div class="banner">
    <div class="container visible-sm visible-xs">
        <a href="https://vku.udn.vn/nhaphoc2022/" title="VKU">
		    <img title="VKU" alt="VKU" style="width: 100%" src='https://vku.udn.vn/nhaphoc2022/images/banner_nhaphoc.png' />
        </a>											
    </div>
</div>
<div class="border">
    <li class="active"><a href="/nhaphoc2022">Đăng ký nhập học trực tuyến</a></li>
</div>
<nav id="top-navigator" class="navbar navbar-default ">
	<div class="container">
	        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span> 
		      </button>	
			<div class="collapse navbar-collapse" id="myNavbar">
			   <ul class="nav navbar-nav">			
							<li class="active"><a href="/nhaphoc2022">Đăng ký nhập học trực tuyến</a></li>
				</ul>
			</div>
	</div>
	</div>
</nav>
    <div class="container body-content">
	<script>
document.addEventListener('contextmenu', event => event.preventDefault());
</script>
<style>
label {font-size:20px;}
</style>
<div class="container">
        <form id="frm" role="form" action="" method="post">
    <div class="row setup-content" id="step-1">
      <div class="row">
        <div class="col-md-12">
        <!-- THONG TIN BAN THAN -->
          <h3 class="sict">Nộp Học Phí Thí sinh: <span style="color: #008000">
          LÊ BÌNH BẢO KHÁNH</span>
          </h3>
          <span>Mã ngành: <b>7480108</b></span><br><span>Tên ngành: <b>Công nghệ kỹ thuật máy tính (kỹ sư)</b></span><br>	

		  <input type="button" value="Chọn nhanh" onclick="checkall()" fdprocessedid="19jvqp" />
		  <div class="row">
          <div class="form-group col-md-6">
              <div class="col-md-12 col-sm-12" style="padding:0; margin-left:4%">

              <!-- KHÔNG Bao gồm BHTT -->
              <div class="checkbox checkbox-primary" style="margin:0px 0px !important">
                    <input type="checkbox" id="hocphi1" name="hocphi1" value="1" checked='checked'>
        					  <input type="hidden" id="h1" value="7465100" />
                          <label for="hocphi1">
						                  Học phí học kỳ I năm học 2023-2024:<br>
							  <b style='color: red'>7.465.100</b>                </label>
              </div>              
              </div>
              
           <div class="form-group ">
              <div class="col-md-12 col-sm-12" style="padding:0; margin-left:4%">
					       <div class="checkbox checkbox-primary" style="margin:0px 0px !important">
                          <input type="checkbox" id="hocphi2" name="hocphi2" value="1" checked='checked'>
                          <input type="hidden" id="h2" value="100000"/>
						  <label for="hocphi2">
                              <b>Bảo hiểm thân thể: 100.000 đồng;</b>
                          </label>
                      </div>
				   <div class="checkbox checkbox-primary" style="margin:0px 0px !important">
                          <input type="checkbox" id="hocphi3" name="hocphi3" value="1" checked='checked'>
                          <input type="hidden" id="h3" value="140805"/>
						  
						  <label for="hocphi3">
                              Bảo hiểm y tế (3 tháng): 140.805 đồng/năm;
                          </label>
                      </div>
				      <div class="checkbox checkbox-success" style="margin:0px 0px !important">
                          <input type="checkbox" name="hocphi4" id="hocphi4" value="1" checked='checked'>
                          <input type="hidden" id="h4" value="80000"/>
						  
						  <label for="hocphi4">
                              Lệ phí khám sức khỏe: 80.000 đồng;
                          </label>
                      </div>
              </div>

			         <div class="form-group ">
              <div class="col-md-12 col-sm-12" style="padding:0; margin-left:4%">

               
                
              <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
                      <div class="checkbox checkbox-primary" style="margin:0px 0px !important">
                          <input type="checkbox" id="hocphi5" name="hocphi5" value="1" checked='checked'>
                          <label for="hocphi5">
                              Kiểm tra tiếng Anh đầu vào: 50.000 đồng;
                          </label>
                      </div>
					  <input type="hidden" id="h5" value="50000"/>
						  
              </div>
            
			
			   Ngày thu: <input maxlength="100" type="text" name="ngaynhan" 
               
                 class="form-control" placeholder="Nhập ngày ghi nhận tiền học phí" />
				 
				 <br/>
				 
				 Số biên lại nội bộ: <input maxlength="100" type="text" name="sobienlai" 
               
                 class="form-control" placeholder="Nhập số biên lai nội bộ" />
                                       <div class="radio radio-primary" style="margin:0px 0px !important">
                          <input type="radio" id="hocphi6a" name="hocphi6" value="1" checked='checked'>
                          <label for="hocphi6a">
                              Tiền mặt
                          </label>
                      </div>
                      <div class="radio radio-primary" style="margin:0px 0px !important">
                          <input type="radio" id="hocphi6b" name="hocphi6" value="0" >
                          <label for="hocphi6b">
                              Chuyển khoản
                          </label>
                      </div>


                      <h3>Cán bộ thu học phí</h3>
                      <div class="radio radio-primary" style="margin:0px 0px !important">
                          <input type="radio" id="hocphi7a" name="hocphi7" value="1" checked='checked'>
                          <label for="hocphi7a">
                              Thành
                          </label>
                      </div>
                      <div class="radio radio-primary" style="margin:0px 0px !important">
                          <input type="radio" id="hocphi7b" name="hocphi7" value="0" >
                          <label for="hocphi7b">
                              Lâm
                          </label>
                      </div>
          </div>
          </div>
		  
<br/><br/>
<hr/>
<h3>Tổng tiền cần thanh toán: <span id="tien">0</span></h3>
<br/>
<br/>
<input class="btn btn-log btn-lg" type="submit" onsubmit="return('Bạn có chắc chắn cập nhật hệ thống đã thu học phí không? Nếu thí sinh chưa nộp, vui lòng unclick và thao tác lại')" value="Cập nhật học phí" />
<input class="btn btn-log btn-lg" type="button" onclick=" window.open ('../in-hoc-phi/001204044614', 'mywindow','status=1,toolbar=1')" value="In hóa đơn" />
<br/>           
        
          </div>
		  <div class="col-md-6">
		  
			<img width='100%' src='/assets/images/a1.jpg    ' />		  </div>
         </div>
        
		  
         
          <!-- CMND -->
         
        
      </div>
      
    </div>

      <center>
          </div>
<br style="clear:both"/>
<br/>
<br/>
<br/>
<br/>
<br/>      
          <input type="hidden" name="STT" value="001204044614" />
          <input type="hidden" name="update" value="submit" />
        </div>
      </div>
    </div>
  </form>
  
</div>   
<footer class="border" th:fragment="footer">
  <div class="container-fluid">
    <div class="row1">
      <div class="col-md-12">
        <span>Copyright © 2017-2023 - Trường Đại học Công nghệ Thông tin & Truyền Thông Việt - Hàn, Đại
          học Đà Nẵng</span>
      </div>
      <div class="col-md-12">
        <div><span></span><i class="fa-solid fa-house"></i> Địa chỉ: Khu Đô thị Đại học Đà Nẵng, Đường
          Nam Kỳ Khởi Nghĩa, quận Ngũ Hành Sơn, TP. Đà Nẵng <br>
          <span></span><i class="fa-solid fa-square-phone"></i></i> Điện thoại: 0236.6.552.688

          &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-envelope"></i> daotao@vku.udn.vn
        </div>
      </div>
    </div>
  </div>
</footer>
</html>