<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
	<head>	
		<title> Trường  Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn, Đại học Đà Nẵng</title> 
		<meta http-equiv="content-type" content="text/html; charset=utf-8" /> 
		<meta name="robots" content="index,follow" /> 
		
		<meta http-equiv="content-language" content="vi"/>         
		<meta http-equiv="Content-Script-Type" content="text/javascript" /> 
		<meta http-equiv="Content-Style-Type" content="text/css" />	
		<meta name="description" content="Trường Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn là một khoa thành viên của Đại học Đà Nẵng, có nhiệm vụ đào tạo nguồn nhân lực công nghệ thông tin chất lượng cao góp phần tích cực vào sự phát triển của nền công nghiệp công nghệ thông tin Việt Nam, đồng thời tiến hành nghiên cứu khoa học và chuyển giao công nghệ thông tin tiên tiến, đặc biệt là hướng vào các ứng dụng nhằm góp phần đẩy mạnh sự nghiệp công nghiệp hóa, hiện đại hóa đất nước. " /> 
		<meta name="keywords" content="Trường Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn, Đại học Đà Nẵng" /> 			
		<meta name="abstract" content="Trường Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn, Đại học Đà Nẵng" />
		<meta name="google-site-verification" content="oiI1qVQx9lpU-bSMu_Z_q5B3Ap2b0aimEVmLklQJM1U" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="distribution" content="Global" /> 
		
		<meta name="REVISIT-AFTER" content="1 DAYS" /> 
		<meta name="RATING" content="GENERAL" /> 		
		<meta property="og:locale" content="vi_VN" />
		<meta property="og:type" />
		<meta property="og:title" content=" Trường  Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn, Đại học Đà Nẵng" />
		<meta property="og:description" content="Trường Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn là một khoa thành viên của Đại học Đà Nẵng, có nhiệm vụ đào tạo nguồn nhân lực công nghệ thông tin chất lượng cao góp phần tích cực vào sự phát triển của nền công nghiệp công nghệ thông tin Việt Nam, đồng thời tiến hành nghiên cứu khoa học và chuyển giao công nghệ thông tin tiên tiến, đặc biệt là hướng vào các ứng dụng nhằm góp phần đẩy mạnh sự nghiệp công nghiệp hóa, hiện đại hóa đất nước. " />
		<meta property="og:site_name" content=" Trường  Đại học  Công nghệ Thông tin và Truyền thông Việt - Hàn, Đại học Đà Nẵng" />
		<meta property='og:image' content='http://vku.udn.vn/images/logo_icon.png'>
		
		<link href="nhaphocvku/./assets/css/vendor/jquery-jvectormap-1.2.2.css" rel="stylesheet" type="text/css" />
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/app.min.css}" /> 
		<link rel="stylesheet" type="text/css" th:href="@{/assets/css/icons.min.css}" /> 
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" th:href="@{/styleindex.css}" />				
        <script type="text/javascript" src="assets/js/jquery.js"></script> 
						
		</head> 
	<body>
	
<div class="banner">
    <div class="container visible-sm visible-xs">
        <a href="https://vku.udn.vn/nhaphoc2022/" title="VKU">
		    <img title="VKU" alt="VKU" style="width: 100%" src='https://vku.udn.vn/nhaphoc2022/images/banner_nhaphoc.png' />
        </a>											
    </div>
</div>
<div class="border">
    <li class="active"><a href="/nhaphoc2022">Đăng ký nhập học trực tuyến</a></li>
</div>
<nav id="top-navigator" class="navbar navbar-default ">
	<div class="container">
	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span> 
		      </button>
		
	
					
			<div class="collapse navbar-collapse" id="myNavbar">
			   <ul class="nav navbar-nav">
							
							<li class="active"><a href="/nhaphoc2022">Đăng ký nhập học trực tuyến</a></li>
						</ul>
					</div>
			</div>
	</div>
</nav>
    <div class="container body-content">
	<script>
document.addEventListener('contextmenu', event => event.preventDefault());
</script>
<style>
label {font-size:20px;}
</style>
<div class="container">
  
        

    <form id="frm" role="form" action="" method="post">
<div class="setup-content" id="step-1">


<div>
<div class="col-md-12">
<!-- THONG TIN BAN THAN -->
<h3 class="sict">Nộp Hồ sơ Thí sinh: <span style="color: #008000">
ĐÀM PHƯƠNG NAM</span>
</h3>
      <script>
function checkall(){
  $(':checkbox').each(function() {
      this.checked = true;                        
  });
}
</script>
<input type="button" value="Chọn nhanh" onclick="checkall()">
<div class="form-group ">
    <div class="col-md-12 col-sm-12" style="padding:0; margin-left:4%">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
            <div class="checkbox checkbox-primary" style="margin:0px 0px !important">
                <input type="checkbox" id="giayto1" name="giayto1" value="1">
                <label for="giayto1">
                    Giấy báo trúng tuyển
                </label>
            </div>
            <div class="checkbox checkbox-primary" style="margin:0px 0px !important">
                <input type="checkbox" id="giayto2" name="giayto2" value="1">
                <label for="giayto2">
                    Bản chính Giấy chứng nhận kết quả thi tốt nghiệp THPT 2022 (thí sinh dự thi tốt nghiệp THPT năm 2022
                </label>
            </div>
                      <div class="checkbox checkbox-success" style="margin:0px 0px !important">
                <input type="checkbox" name="giayto3" id="giayto3" value="1" checked="checked">
                <label for="giayto3">
                    Bản chính Giấy chứng nhận tốt nghiệp THPT tạm thời (thí sinh tốt nghiệp năm 2022) hoặc Bản sao Bằng tốt nghiệp THPT (thí sinh tốt nghiệp trước năm 2022)
                </label>
            </div>
            <div class="checkbox checkbox-primary" style="margin:0px 0px !important">
                <input type="checkbox" id="giayto4" name="giayto4" value="1">
                <label for="giayto4">
                    Bản sao Học bạ THPT
                </label>
            </div>
            <div class="checkbox checkbox-success" style="margin:0px 0px !important">
                <input type="checkbox" name="giayto5" id="giayto5" value="1">
                <label for="giayto5">
                    Bản sao Giấy khai sinh
                </label>
            </div>
            <div class="checkbox checkbox-primary" style="margin:0px 0px !important">
                <input type="checkbox" id="giayto6" name="giayto6" value="1">
                <label for="giayto6">
                    Bản sao/công chứng Hộ Khẩu
                </label>
            </div>
            <div class="checkbox checkbox-success" style="margin:0px 0px !important">
                <input type="checkbox" name="giayto7" id="giayto7" value="1">
                <label for="giayto7">
                    Bản công chứng CMND/CCCD
                </label>
            </div>
            <div class="checkbox checkbox-primary" style="margin:0px 0px !important">
                <input type="checkbox" id="giayto8" name="giayto8" value="1">
                <label for="giayto8">
                   Bản sao minh chứng về đối tượng ưu tiên, khu vực ưu tiên trong tuyển sinh (nếu có)
                </label>
            </div>           
    </div>
<br><br>
<!-- CMND -->
</div>
    <div class="col-md-12 col-sm-12" style="padding:0; margin-left:4%">
        <label for="c_doanvien">
              Ghi chú riêng cho thí sinh XTS
                </label>  
      <textarea name="hoc_phi" style="width:100%" class="form-control" placeholder="Nhập ghi chú của thí sinh">Thiếu phiếu điểm thi THPT</textarea>
  </div>
 </div>
</div>
<input class="btn btn-success btn-lg" type="submit" value="Cập nhật thu hồ sơ"  style="margin: 40px;">

  <center>
</center></div>
<input type="hidden" name="STT" value="2781">
<input type="hidden" name="update" value="submit">
</form></div>  
    </div><br/>
<footer class="border" th:fragment="footer">
  <div class="container-fluid">
    <div class="row1">
      <div class="col-md-12">
        <span>Copyright © 2017-2023 - Trường Đại học Công nghệ Thông tin & Truyền Thông Việt - Hàn, Đại
          học Đà Nẵng</span>
      </div>
      <div class="col-md-12">
        <div><span></span><i class="fa-solid fa-house"></i> Địa chỉ: Khu Đô thị Đại học Đà Nẵng, Đường
          Nam Kỳ Khởi Nghĩa, quận Ngũ Hành Sơn, TP. Đà Nẵng <br>
          <span></span><i class="fa-solid fa-square-phone"></i></i> Điện thoại: 0236.6.552.688

          &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa-solid fa-envelope"></i> daotao@vku.udn.vn
        </div>
      </div>
    </div>
  </div>
</footer>
<script>	 
    var da_in = false;
    Number.prototype.format = function(n, x) {
          var re = '\\d(?=(\\d{' + (x || 3) + '})+' + (n > 0 ? '\\.' : '$') + ')';
          return this.toFixed(Math.max(0, ~~n)).replace(new RegExp(re, 'g'), '$&,');
      };
    function checktien(){
      if ($("#hocphi1").is(':checked') == true){
          h1 = $("#h1").val();
          
      }else{
          h1 = 0;
      }
      
      if ($("#hocphi2").is(':checked') == true){
          h2 = $("#h2").val();
          
      }else{
          h2 = 0;
      }
      
      if ($("#hocphi3").is(':checked') == true){
          h3 = $("#h3").val();
          
      }else{
          h3 = 0;
      }
      
      if ($("#hocphi4").is(':checked') == true){
          h4 = $("#h4").val();
      }else{
          h4 = 0;
      }
      
      if ($("#hocphi5").is(':checked') == true){
          h5 = $("#h5").val();
      }else{
          h5 = 0;
      }
      if ($("#hocphi7").is(':checked') == true){
          h7 = $("#h7").val();
      }else{
          h7 = 0;
      }
      
      
      
      tien = parseInt(h1) + parseInt(h2) + parseInt(h3) + parseInt(h4) + parseInt(h5) + parseInt(h7);
      tien = tien.format();
      $("#tien").html(tien+" VNĐ");
    
    }
    function checkall(){
    
      $(':checkbox').each(function() {
          this.checked = true;                        
      });
      checktien();
    }
  
  $(document).ready(function () {
  checktien();
      $('.checkbox').click(function() {
        checktien();
      });
      });
    </script>
</html>